/* Day 3: Challenge - Shoe project */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  /* position: relative; */
}

.sale {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  top: -15px;
  left: -15px;
  background-color: red;
  color: #fff;
  padding: 2px 12px;
  letter-spacing: 2px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto; */
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  font-size: 22p;
  padding: 15px;
}

.product-price {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .motto {
  margin-bottom: 10px;
} */

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  margin-top: 10px;
  margin-bottom: 15px;
  display: inline-block;
  color: black;
}

/* .more-info: {
  margin-bottom: 10px;
} */

.more-info:hover,
.more-info:active {
  display: inline-block;
  text-decoration: none;
}

.details-title {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  padding-left: 20px;
  /* line-height: 1.8; */
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  cursor: pointer;
  /* width: 825px; */
  width: 100%;
  padding: 15px;
  border-top: 4px solid #000;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
